html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

button a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3em;
  color: #050259;
  font-family: "Satisfy", cursive;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  color: #050259;
  font-family: "Satisfy", cursive;
  text-align: center;
}

p {
  font-size: 1.4em;
  line-height: 1.6;
  color: #050259;
  font-family: "Bodoni Moda", serif;
}

.announcement-bar {
  background-color: #050259;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 0;
  font-size: 0.9em;
  font-family: "Bodoni Moda", serif;
}

.announcement-bar p {
  color: #f2f2f2;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 0px 20px;
}

.logo {
  font-size: 1.5em;
  font-family: "Satisfy", cursive;
  color: #050259;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 0;
  margin: 0;
}

nav ul li {
  font-family: "Bodoni Moda", serif;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #050259;
}

nav ul li a:hover {
  color: #a0a4f2;
}

.cta {
  background-color: #050259;
  color: #fff;
  padding: 15px 25px;
  border-radius: 20px;
  font-family: "Bodoni Moda", serif;
  font-size: 1em;
  border: none;
  cursor: pointer;
  margin-top: -10px;
  text-decoration: none;
}

.cta:hover {
  background-color: #a0a4f2;
  text-decoration: none;
}

.hero {
  position: relative;
  background-image: url("assets/pexels-john-tekeridis-21837-14843543.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -60px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.hero h1,
.hero p {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 7em;
  color: #a0a4f2;
  padding-top: 200px;
}

.hero p {
  color: #bbbdf2;
  letter-spacing: 1px;
  text-align: center;
  font-size: 2.5em;
}

.intro {
  padding: 50px 350px 50px 150px;
  text-align: left;
}

.cta-secondary {
  background-color: #a0a4f2;
  color: #fff;
  padding: 15px 25px;
  border-radius: 20px;
  font-family: "Bodoni Moda", serif;
  font-size: 1em;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.cta-secondary:hover {
  background-color: #050259;
}

.why-us ul {
  list-style: none;
  padding: 0;
  padding: 50px 350px 50px 150px;
}

.why-us ul li {
  font-family: "Bodoni Moda", serif;
  font-size: 1.4em;
  color: #050259;
  padding: 20px 0;
}

.classes {
  padding: 50px 150px;
  margin: 50px 0;
}

.class-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.class-card {
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  margin: 10px;
  max-width: 500px;
}

.class-card img {
  width: 100%;
  border-radius: 10px;
}

.class-card h3 {
  font-family: "Bodoni Moda", serif;
  color: #050259;
  margin-top: 10px;
}

.class-card p {
  font-family: "Bodoni Moda", serif;
  color: #333;
  line-height: 2;
}

.classes .cta-secondary {
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #050259;
  color: #a0a4f2;
  text-align: center;
  padding: 20px 0;
  font-family: "Bodoni Moda", serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-content .logo {
  margin: 0;
  color: #fff;
}

.footer-content nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 0;
  margin: 0;
  color: #fff;
}

.footer-content nav ul li {
  font-family: "Bodoni Moda", serif;
  display: inline;
  color: #fff;
}

.footer-content nav ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-content nav ul li a:hover {
  color: #a0a4f2;
}

.footer-content i {
  color: #fff;
  font-size: 1.5em;
}

/* Responsive */

@media screen and (max-width: 1024px) {
  .header-content {
    padding: 20px;
  }
  nav ul {
    gap: 20px;
  }
  .intro {
    padding: 50px 100px;
  }

  .why-us ul {
    padding: 50px 100px;
  }

  .classes {
    padding: 50px 100px;
  }
}

/*Classes*/

.classes-hero {
  padding: 50px 20px;
  text-align: center;
}

.dropbtn {
  background-color: #050259;
  color: white;
  padding: 16px;
  font-size: 1.4em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Bodoni Moda", serif;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropbtn:hover {
  background-color: #a0a4f2;
}

.dropdown {
  margin: 20px auto;
  max-width: 600px;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-width: 600px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Bodoni Moda", serif;
  font-size: 1.4em;
  font-weight: 500;
}

.dropdown-content a p {
  margin: 5px 0 0 0;
  font-size: 0.9em;
  color: #666;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: none;
}

.dropdown:hover .dropbtn {
  background-color: #a0a4f2;
}

.cta-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.cta-button {
  background-color: #050259;
  color: #fff;
  padding: 15px 30px;
  border-radius: 20px;
  font-family: "Bodoni Moda", serif;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #a0a4f2;
}

/* Schedule */

.schedule-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 10px;
  font-family: "Bodoni Moda", serif;
  font-size: 1.2em;
  color: #333;
}

.schedule-table th {
  background-color: #050259;
  color: #fff;
}

.schedule-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schedule-table tr:hover {
  background-color: #f1f1f1;
}

/* Responsive */

/* Mobile devices (max-width: 600px) */
@media screen and (max-width: 600px) {
  .schedule-container {
    padding: 10px;
  }

  .schedule-table th,
  .schedule-table td {
    padding: 5px;
    font-size: 0.9em;
  }

  .schedule-table th {
    font-size: 1em;
  }
}

/* Tablets (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .schedule-container {
    padding: 15px;
  }

  .schedule-table th,
  .schedule-table td {
    padding: 8px;
    font-size: 1em;
  }

  .schedule-table th {
    font-size: 1.1em;
  }
}

/* Desktops and laptops (min-width: 1025px) */
@media screen and (min-width: 1025px) {
  .schedule-container {
    padding: 20px;
  }

  .schedule-table th,
  .schedule-table td {
    padding: 10px;
    font-size: 1.2em;
  }

  .schedule-table th {
    font-size: 1.2em;
  }
}

.book-button {
  background-color: #050259;
  color: #fff;
  padding: 15px 30px;
  border-radius: 20px;
  font-family: "Bodoni Moda", serif;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.book-button:hover {
  background-color: #a0a4f2;
}

.booking-container {
  padding: 20px;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  margin-top: 50px;
}

.booking-container h2 {
  font-size: 2em;
  margin-bottom: 50px;
}

.booking-container label {
  display: block;
  font-family: "Bodoni Moda", serif;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.booking-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-family: "Bodoni Moda", serif;
}

.booking-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-family: "Bodoni Moda", serif;
  font-size: 1em;
  color: #333;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.booking-container select option {
  font-family: "Bodoni Moda", serif;
  font-size: 1em;
  color: #333;
  padding: 10px;
}

.booking-container select:focus {
  outline: none;
  border-color: #050259;
}

.booking-container button {
  background-color: #050259;
  color: #fff;
  padding: 15px 30px;
  border-radius: 20px;
  font-family: "Bodoni Moda", serif;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.booking-container button:hover {
  background-color: #a0a4f2;
}

/* Memberships */

.membership-hero {
  text-align: center;
  margin: 20px auto;
}

.membership-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.membership-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  flex: 1 1 calc(33.333% - 40px);
  margin: 10px;
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-height: 600px;
}

.membership-card h2 {
  margin-bottom: 10px;
}

.membership-card p {
  margin-bottom: 20px;
}

.membership-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  flex-grow: 1;
}

.membership-card ul li {
  font-family: "Bodoni Moda", serif;
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.cta-membership {
  background-color: #050259;
  color: #fff;
  padding: 15px 30px;
  border-radius: 20px;
  font-family: "Bodoni Moda", serif;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-decoration: none;
}

.cta-membership:hover {
  background-color: #a0a4f2;
}

/* Membership form */

.membership-form-container {
  padding: 40px;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.membership-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  padding: 50px;
}

.membership-form-container label {
  font-family: "Bodoni Moda", serif;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.membership-form-container input,
.membership-form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-family: "Bodoni Moda", serif;
  font-size: 1em;
  color: #333;
}

.membership-form-container input:focus,
.membership-form-container select:focus {
  border-color: #050259;
  outline: none;
}

#price-info {
  font-family: "Bodoni Moda", serif;
  font-size: 1em;
  color: #333;
  margin-bottom: 20px;
}

.cta-price {
  background-color: #050259;
  color: #fff;
  padding: 15px 30px;
  border-radius: 20px;
  font-family: "Bodoni Moda", serif;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.cta-price:hover {
  background-color: #a0a4f2;
}

/* Contact */

.contact-container {
  padding: 40px;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  padding: 50px;
}

.contact-container label {
  font-family: "Bodoni Moda", serif;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-family: "Bodoni Moda", serif;
  font-size: 1em;
  color: #333;
}

.contact-container input:focus,
.contact-container textarea:focus {
  border-color: #050259;
  outline: none;
}

.cta-contact {
  background-color: #050259;
  color: #fff;
  padding: 15px 30px;
  border-radius: 20px;
  font-family: "Bodoni Moda", serif;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.cta-contact:hover {
  background-color: #a0a4f2;
}

.hamburger-menu {
  display: none;
  font-size: 2em;
  color: #050259;
  cursor: pointer;
}

/* Mobile devices (max-width: 600px) */
@media screen and (max-width: 600px) {
  .header-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .hamburger-menu {
    display: block;
  }
  .cta {
    padding: 10px 20px;
    font-size: 0.9em;
    margin-top: 10px;
  }

  .hero {
    height: 70vh;
    margin-top: -30px;
  }

  .hero h1 {
    font-size: 3em;
    padding-top: 100px;
  }

  .hero p {
    font-size: 1.5em;
  }

  .intro {
    padding: 20px;
  }

  .cta-secondary {
    padding: 10px 20px;
    font-size: 0.9em;
  }

  .why-us ul {
    padding: 20px;
  }

  .why-us ul li {
    font-size: 1.2em;
  }

  .classes {
    padding: 20px;
    margin: 20px 0;
  }

  .class-cards {
    flex-direction: column;
    gap: 10px;
  }

  .class-card {
    max-width: 100%;
    margin: 10px 0;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-content nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .schedule-container {
    padding: 10px;
  }

  .schedule-table th,
  .schedule-table td {
    padding: 5px;
    font-size: 0.9em;
  }

  .schedule-table th {
    font-size: 1em;
  }

  .membership-container {
    flex-direction: column;
    align-items: center;
  }

  .membership-card {
    max-width: 100%;
  }

  .membership-form-container,
  .contact-container,
  .booking-container {
    padding: 20px;
  }
}
